<div class="row">
  <%= render 'common/sidebar' %>
  <div class="col-md-9">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <% @conversations.each do |conversation| %>
        <tr>
          <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
          <% if conversation.sender_id == current_user.id %>
          <% recipient = User.find(conversation.recipient_id) %>
          <% else %>
          <% recipient = User.find(conversation.sender_id) %>
          <% end %>
          <td><%= link_to recipient.name, conversation_messages_path(conversation)%></td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
